body{
	 background-color:#00BFFF;
	
}

Button{
	 background-color:#DC143C;
	 width:85px;
	 height:35px;
	 margin-top:1%;
	 font-family: fantasy;
	 font-size: 25px;
	 color:	#000000;
	 border:none;
	 cursor:pointer;
}

form{
	 padding:0% 20%;
    	
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #A9A9A9;
}

.container{
     margin-top:6%;
	 padding: 2%;
}

h1{  
	 text-align:center;
	 font-family: fantasy;
}

label{
	 font-family:fantasy;
	 font-size:25px;
}

.forget {
     width: 180px;
	 height:35px;
     background-color:#DC143C;
	 	
}
 
a{
	 text-decoration:none;
	 color:#000000;
}
 
li{ 
     text-align:center;
	 list-style-type: none;
	 font-family:serif;
	 color:#DC143C;
} 

.img {
	 margin-left:65%;
	 margin-top:5%;
}

.btn {
	 width: 105px;
	 height:35px;
     background-color:#DC143C;
	 margin-left:47%;	
}

.btn4 {
	 width: 105px;
	 height:35px;
     background-color:#DC143C;
	 margin-left:1%;	
}

h2{
	 color:	#228B22;
	 text-align:center;
	 font-family: fantasy;
	 font-size:5em;
}

.btn1{
	 width: 115px;
	 height:45px;
     background-color:#DC143C;
	 margin-left:38%; 
	 font-size:2em;
}

.btn2{
	 width: 115px;
	 height:45px;
     background-color:#DC143C;
	 margin-left:1%; 
	 font-size:2em;
}